---
layout: default
title: Event 6.9
id: home
---
<div class="container" style="padding: 5rem 0">
    <div class="row text-center">
        <h1 class="mb-3">Garage Trip 6.9</h1>
        <p><em>Nice. A great thing, ruined by a period.</em></p>
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-xxl-4 offset-xxl-4 text-center">
            <div class="row gy-4">
                <div class="col-lg-6">
                    {% include button-link.html
                        url="https://forms.gle/VVTcqsUrWKvuSpXx6"
                        text="Join the event"
                        icon="event"
                        variant="purple"
                    %}
                </div>
                <div class="col-lg-6">
                    {% include button-link.html
                        url="https://www.google.com/url?q=https%3A%2F%2Fdiscord.gg%2FTnaMJMyTDw&sa=D&sntz=1&usg=AOvVaw3YQU0DYutiJ5kX9ptEAJi9"
                        text="Join our Discord"
                        icon="discord"
                        variant="blue"
                    %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row gy-3 mb-4">
    <div class="col-lg-4">
        <div class="box info-box">
            <img class="info-box-bg illu-calendar" src="/assets/svg/illu-calendar.svg" width="384" height="284" />
            <div class="info-box-inner">
                <h3>Save the date</h3>
                <p class="subtitle">20&nbsp;–&nbsp;27&nbsp;/&nbsp;9&nbsp;/&nbsp;2025</p>
                <div class="info-box-inner-footer">
                    {% include button-link.html
                        url="https://evt.to/egiehgodw"
                        text="Add to calendar"
                        icon="google-calendar"
                    %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box info-box">
            <img class="info-box-bg illu-location" src="/assets/svg/illu-location.svg" width="384" height="224" />
            <div class="info-box-inner">
                <h3>Location</h3>
                <p class="subtitle">Chalupa Nový Svět<br>
                    Prostřední Lipka 74<br>
                    Králíky, Orlické hory</p>

                <div class="info-box-inner-footer">
                    {% include button-link.html
                        url="https://maps.app.goo.gl/zRF3NoHsnYzASQaR9"
                        text="Google Maps"
                        icon="google-maps"
                    %}
                    {% include button-link.html
                        url="https://mapy.cz/s/mejeturodo"
                        text="Mapy.cz"
                        icon="mapy-cz"
                    %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box info-box">
            <img class="info-box-bg illu-sauna" src="/assets/svg/illu-sauna.svg" width="256" height="225" />
            <div class="info-box-inner">
                <h3>Accommodation</h3>
                <p class="subtitle">Cottage "Novy Svet"</p>
                <ul class="accommodation-features">
                    <li>32 people | 14 rooms</li>
                    <li>14 000 m<sup>2</sup> garden with pond and outdoor playground</li>
                    <li>Ton of seating</li>
                    <li>Grill, 4 taps and Sauna</li>
                    <li>Two-story children's corner</li>
                </ul>
                <div class="info-box-inner-footer">
                    {% include button-link.html
                        url="https://www.novysvetlipka.cz/ubytovani-chalupa-novy-svet-prostredni-lipka-orlicke-hory.html"
                        text="More information"
                        icon="website"
                    %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div class="box">
            <h3>Invitation</h3>
            <p>Get ready, nerds! Garage Trip is back, again. Version 6.9 this year ... nice.<br />
                With our <a href="/history">history</a> of epic gatherings, we’re excited to bring another unforgettable week of fun, games, and geeky goodness, again.<br />
                We've got everything, again: from mind-bending puzzles to thrilling video games.<br />
                And this year, it’s kid-friendly, again.
            </p>
            <p>
                So mark your calendars.<br />
                Gather your friends. And prepare for a week of pure nerdy joy.<br />
                See you there, again!?
            </p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div class="box">
            <h3>Feedback</h3>
            <div class="row gy-3">
                <div class="col-lg-4">
                    <div class="comment-box p-3"><em>Nerdvana.</em></div>
                </div>
                <div class="col-lg-4">
                    <div class="comment-box p-3"><em>The highlight of the year.</em></div>
                </div>
                <div class="col-lg-4">
                    <div class="comment-box p-3"><em>Never attended an event like this before.</em></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <div class="box images">
            <h3>Images</h3>
            <div class="row gy-3 mb-3">
                <div class="col-lg-3">
                    <img src="{{ '/assets/images/400/walk.webp' | relative_url }}" class="img-thumbnail" alt="Outdoor walk" id="myImage" data-bs-toggle="modal" data-bs-target="#imageModal">
                </div>
                <div class="col-lg-3">
                    <img src="{{ '/assets/images/400/drinks.webp' | relative_url }}" class="img-thumbnail" alt="Drinks">
                </div>
                <div class="col-lg-3">
                    <img src="{{ '/assets/images/400/gaming.webp' | relative_url }}" class="img-thumbnail" alt="Gaming">
                </div>
                <div class="col-lg-3">
                    <img src="{{ '/assets/images/400/bbq.webp' | relative_url }}" class="img-thumbnail" alt="BBQ">
                </div>
            </div>

            <div class="row gy-3 ">
                <div class="col-lg-3">
                    <img src="{{ '/assets/images/400/intro.webp' | relative_url }}" class="img-thumbnail" alt="Intro talk">
                </div>
                <div class="col-lg-3">
                    <img src="{{ '/assets/images/400/board-game.webp' | relative_url }}" class="img-thumbnail" alt="Board Game">
                </div>
                <div class="col-lg-3">
                    <img src="{{ '/assets/images/400/hookah.webp' | relative_url }}" class="img-thumbnail" alt="Hookah">
                </div>
                <div class="col-lg-3">
                    <img src="{{ '/assets/images/400/az.webp' | relative_url }}" class="img-thumbnail" alt="AZ Quiz">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" id="modalImage" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<script>
    const modalImage = document.getElementById('modalImage');
    const imageModal = new bootstrap.Modal(document.getElementById('imageModal'), {})

    document.querySelectorAll('.images img').forEach(image => {
        image.addEventListener('click', () => {
            modalImage.src = image.src.replace("/400/", "/2000/");
            imageModal.show();
        });
    });
</script>